@import "../variables.scss";

.login {
  color: $off-white;

  input {
    border-color: $off-white !important;
    color: $off-white;

    &::placeholder {
      color: $off-white;
    }
  }

  .login-button {
    border: $off-white 1px solid;
  }
}
