@import "../variables.scss";

.sing-in {
  color: $off-white;

  input {
    border-color: $off-white;
    color: $off-white;

    &::placeholder {
      color: $off-white;
    }
  }

  .sign-in-button {
    border: $off-white 1px solid;
  }
}
